# =========================
# ROS 2 (Colcon Workspace)
# =========================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# =========================
# Environment variables (if any)
# =========================
mqtt_config.yaml
**/.core/

# =========================
# Python
# =========================
*.pyc
__pycache__/
.vscode/

# =========================
# Rosbags (Dati registrati)
# =========================
ros2_ws/rosbags/*


# =========================
# IDEs, OS, and Editors
# =========================
**/.DS_Store
.project
.cproject
CMakeLists.txt.user
*.user
*~
.#*